# Personal local files.
elpa/
secret/
local.el
early-local.el
custom.el

# straight.el
straight/build-*
straight/repos/

# Byte-compiled files.
*.elc
eln-cache/

# no-littering.el
var/
!var/mc-list.el
etc/yasnippet/snippets/*/.yas-compiled-snippets.el

# Tree-sitter grammars.
tree-sitter/
